<div class="container">
  <div class="hero">
    <div class="container">
      <img
        src="{{ '/assets/images/profile.png' | relative_url }}"
        alt="photo of me"
      />
      <div class="right">
        <h1>Hi! I'm Brandon.</h1>
        <p>
          I am a PhD student in Computer Science at Texas State University. My
          current research is on adaptive synthesis of compression algorithms,
          working with
          <a href="https://userweb.cs.txstate.edu/~burtscher/"
            >Martin Burtscher</a
          >
          at the
          <a href="https://userweb.cs.txstate.edu/~burtscher/research.html"
            >Efficient Computing Lab (ECL)</a
          >.
        </p>
        <p>
          My academic interests include parallel computing, web development, and
          game development. After hours you'll find me playing
          <a href="https://www.backloggd.com/u/duke_of_jukes/">video games</a>,
          watching <a href="https://letterboxd.com/duke_of_jukes/">movies</a>,
          and making food and drinks.
        </p>
      </div>
    </div>
  </div>
</div>
