<div class="container">
  <div class="hero">
    <div class="container">
      <img
        src="{{ '/assets/images/profile.png' | relative_url }}"
        alt="photo of me"
      />
      <div class="right">
        <h1>Hi! I'm Brandon.</h1>
        <p>
          I am a M.S student in Computer Science with a Software Engineering
          concentration at Texas State University. My thesis will be on adaptive
          synthesis of compression algorithms.
        </p>
        <p>
          My academic interests include parallel computing, web development, and
          game development. After hours you'll find me playing Mario Kart,
          watching movies, and making food and drink.
        </p>
      </div>
    </div>
  </div>
</div>
