// polar night
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;

// snow storm
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;

// frost
$nord8: #88c0d0;

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: $nord0; }

html { height: 100%; }

body {
  color: $nord6;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .right {
    text-align: right;
  }

  a:link, a:visited {
    color: $nord6;
  }

  a:hover {
    color: $nord8;
  }
}

a:link, a:visited {
  color: $nord8;
}

// .post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin: 1rem 0; }

h1 {
  margin-top: 2rem;
}

h2 {
  padding-top: 1rem;

  position: relative;
  padding-bottom: 0.25rem;  // padding between text and underline

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $nord3;
  }
}

h3 {
  margin-top: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 0.25rem;
}

h4 {
  margin: 0rem;
  padding: 0rem;
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

// *:target { background: yellow; }

main {
  // max-width: 640px;
  max-width: 700px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

// .toc {
//   border: thin solid black;
//   padding: 1rem;
// }

hr {
  text-align: center;
  border: 0;

  &:before { content: '' }
  &:after { content: attr(data-content) '~' }
}

pre {
  background: black;
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: $nord6;
  background: $nord3; 
  font-size: 80%;
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

details > summary {
  list-style-type: "+ ";
}

details[open] > summary {
  list-style-type: "- ";
}

details {
  border: thin solid $nord3;
  padding: 0.75rem;
  margin: 0.75rem;

  summary {
    cursor: pointer;
  }

  p {
    padding: 0.5rem;
    margin: 0rem;
    // margin-top: 0.5rem;

    /* text-align: justify; */
    /* text-indent: 2rem; */
}
}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}
