@import "/assets/styles/nord.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/* global styling */
* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  /* dark mode colors by default */
  background-color: var(--nord0);
  color: var(--nord6);
  padding: 0;
  margin: 24px auto;
}

.container {
  max-width: 900px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

/* navbar styling */
nav.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 36px;
  font-size: 24px;
}

nav.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

nav li {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--nord6);
}

nav a:hover {
  color: var(--nord8);
}

/* main content styling */
main {
  margin: 32px auto;
}

main .hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 32px;
  margin-top: 48px;
  margin-bottom: 48px;
}

main .hero img {
  width: 300px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

main .hero .right {
  width: 50%;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
  font-size: 32px;
  padding: 0;
  margin: 8px 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  margin: 32px 0 16px 0;
  border-bottom: 1px solid;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 16px 0 8px 0;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  margin: 8px 0;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 8px 0;
}

ul,
ol {
  font-size: 18px;
  padding: 0;
  margin: 8px 0;
  margin-left: 64px;
}

a {
  text-decoration: none;
  color: var(--nord8);
}

/* light-dark mode class toggles */
body.light-mode,
nav a.light-mode {
  background-color: var(--nord6);
  color: var(--nord0);
}
nav a.light-mode:hover {
  color: var(--nord8);
}
