@import "/styles/nord.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
  --side-gutter: 15%;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--nord0);
  color: var(--nord6);
  padding: 0;
  margin: 24px auto;
  min-height: 100vh;
}

.header,
.content,
.footer {
  max-width: 900px;
  padding: 0 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 36px;
  margin: 16px auto;
}
.header .left {
  font-size: 24px;
}

.header .right {
  font-size: 20px;
}

.header ul,
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.header li,
.footer li {
  padding: 0;
  margin: 0;
}

.header a,
.footer a {
  text-decoration: none;
  color: var(--nord6);
}

.header .right a:hover,
.footer a:hover {
  color: var(--nord8);
}

.content {
  margin: 32px auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 32px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.content .hero img {
  width: 300px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.content .hero .right {
  width: 50%;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
  font-size: 32px;
  padding: 0;
  margin: 8px 0;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 8px 0;
}

.footer {
  font-size: 32px;
  margin: 16px auto;

  margin-top: auto;
  text-align: center;
  justify-self: end;
}

.footer ul {
  justify-content: center;
}
